body {
	background-color: #ecf0f1;
}

header {
	margin-left: 75px;
	height: 60px;
	background-color: #E0E0E0;
}

#sideNav{
	color: #ecf0f1;
	background-color: #424242;
	height: 100%;
	width: 75px;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 0px;
	overflow: hidden;
}

#main {
	margin-left: 75px;
	background-color: #F5F5F5;
}